<h3>Nuevo centro</h3>

<h3>Centro {{centro.codigo}} {{centro.generico}} {{centro.nombre}} ({{centro.localidad}})</h3>

<form (ngSubmit)="onSubmit()" #centroForm="ngForm">
  <label for="codigo">Código</label>:
  <input type="number" id="codigo" name="codigo" [(ngModel)]="centro.codigo" required min="28000000" max="28999999"><br />
  <label for="generico">Genérico</label>:
  <input type="text" id="generico" name="generico" [(ngModel)]="centro.generico" required minlength="3" maxlength="4" pattern="(^IES$)|(^CEIP$)"><br />
  <label for="nombre">Nombre</label>:
  <input type="text" id="nombre" name="nombre" [(ngModel)]="centro.nombre" required><br />
  <label for="localidad">Localidad</label>:
  <input type="text" id="localidad" name="localidad" [(ngModel)]="centro.localidad" required><br />
  <label for="usuarioModificacion">Modificado por</label>:
  <input type="text" id="usuarioModificacion" name="usuarioModificacion" [(ngModel)]="centro.usuarioModificacion" required><br />
  <button type="submit" [disabled]="!centroForm.form.valid">Enviar</button>
</form>